{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodOnline</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">

	<!-- CSS Files -->
	<link rel="stylesheet" href="{% static 'css/iconmoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/cs-foodbakery-plugin.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-slider.css' %}">
	<link rel="stylesheet" href="{% static 'css\custom.css' %}">
	<!-- JavaScript Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

	<!-- Inline Styles -->
	<style>
		body, .main-section p, .mce-content-body p {
			font: normal 14px/24px "Open Sans", sans-serif;
			letter-spacing: 0;
			text-transform: none;
			color: #515151 !important;
		}
	</style>
</head>

<body>

      <!-- LOAD NAVBAR HERE  -->

      {% include 'includes/navbar.html' %}

      <!-- LOAD CONTENT HERE -->

      {% block content %}

      {% endblock %}

      <!-- LOAD FOOTER HERE -->

      {% include 'includes/footer.html' %}
